.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.material-icons {
  font-family: "Material Icons" !important;
  /* Other styles */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* App.css */

/* Ensure the root HTML element and body fill the viewport */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style the overall layout to use flexbox */
/*  */
/*  */
/* Main content area */
.main-content {
  margin-left: 250px; /* Adjust margin to account for sidebar width */
  padding: 20px; /* Add padding for better spacing */
}

/* Footer styling */
.footer {
  height: 40px; /* Fixed height for the footer */
  background-color: #555; /* Example background color */
}

/* Styles for content container */
.content-container {
  flex: 1; /* Expand to fill remaining space */
  padding: 20px; /* Add padding */
}