/* AddInstructor.css */
.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 18px; /* Increase font size */
    color: #333; /* Change text color to a dark shade */
    text-transform: uppercase; /* Convert text to uppercase */
    font-weight: bold; /* Make the text bold */
    letter-spacing: 1px; /* Add letter spacing */
}

.button-primary {
    margin-top: 20px;
    background-color: #0073CF; /* Change button color to blue */
    color: white; /* Change text color to white */
}

.button-primary:hover {
    background-color: #066baf; /* Darker blue color on hover */
}

.typography-h6 {
    margin-top: 20px;
}

.grid-item {
    margin-bottom: 20px;
}

/*.container-main {*/
/*    padding: 20px;*/
/*    background-color: #fff;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.title {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.form-control {*/
/*    margin-right: 16px;*/
/*}*/

/*.input-field {*/
/*    margin-left: 8px;*/
/*}*/

/*.select-field {*/
/*    margin-right: 16px;*/
/*}*/

/*.flex-box {*/
/*    display: block;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 2rem;*/
/*}*/

/*.submit-button {*/
/*    background-color: #536DFE;*/
/*}*/
