/* LoginPage.css */

.main-grid {
    height: 100vh;
}

.image-grid {
    /* Position relative allows the pseudo-element to be positioned absolutely within this container */
    position: relative;
    background-image: url('../images/Banner.png'); /* Adjust path as necessary */
    background-repeat: no-repeat;
    /*background-size: small;*/
    background-position: center;
    background-color: #0073CF ;
    filter: blur(0px);

}

.paper-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 32px;
}


.avatar {
    margin: 8px;
    background-color: #f50057; /* Secondary color */
}

.form {
    margin-top: 8px;
}

.submit-button {
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 10px 20px; /* Makes button thicker and reduces length */
    width: auto; /* Adjust the width as necessary, or use a specific value */
    border-radius: 25px; /* Half of the height to create curved ends */
    background-color: #0073CF !important; /* Example background color */
    color: #fff; /* Example text color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

.submit-button:hover {
    background-color: #066baf; /* Example background color on hover */
}

.symbol-background {
    position: fixed;
    top: 0;
    left: 735px;
    width: 50%;
    height: 100%;
    /*background-image: url('../images/Symbol.png'); !* Symbol background image *!*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1; /* Adjust opacity as needed */
}
