.container {
    margin-top: 2rem;
}

.MuiTextField-root {
    margin-bottom: 1rem;
}

.MuiButton-containedPrimary {
    background-color: #1976d2;
    color: white;
}

.MuiDivider-root {
    margin: 20px 0;
}

.MuiPaper-root {
    padding: 20px;
    margin-bottom: 20px;
}

.MuiTypography-h6 {
    margin-bottom: 1rem;
}

.MuiButton-containedPrimary:hover {
    background-color: #115293;
}
