.heading {
    font-weight: bold;
    margin-bottom: 20px;
}

.viewSchedule-dateControls {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;

}

.viewSchedule{
    width: 1000px;
    padding: 20px;
}

/*.viewSchedule-dateControls{*/
/*    margin-bottom: 20px;*/
/*}*/

.leave-cell{
    background-color: black;
    color: white !important;
}